# Step I. ETL Pipeline for Pre-Processing the Files

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
import sys
sys.path.append('..')

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking current working directory
print(os.getcwd())

# Get current folder and subfolder event data
filepath = os.getcwd() + '../event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/dar1en/Documents/pythonWS/Udacity/P1/P2/func

In [3]:
print(filepath)

/Users/dar1en/Documents/pythonWS/Udacity/P1/P2/func../event_data

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            

#print(len(full_data_rows_list))
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new_Darien.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in the csv file
with open('event_datafile_new_Darien.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Step II. Complete the Apache Cassandra coding portion of this project. 

## The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

#### Creating a Cluster

In [5]:
from cassandra.cluster import Cluster

try: 
    # This will make a connection to a Cassandra instance in the local machine (127.0.0.1)
    cluster = Cluster(['127.0.0.1']) 
    # To establish connection and begin executing queries, need a session
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [6]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS darien_cassandra 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('darien_cassandra')
except Exception as e:
    print(e)

### Note: With Apache Cassandra we need to model the database tables depending on the queries we want to run.

## Create queries to ask the following questions of the data

### 1. Give the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [8]:
# Query 1:  Give me the artist, song title and song's length in the music app history that was heard\
# during sessionId = 338, and itemInSession = 4
query1 = "CREATE TABLE IF NOT EXISTS session_info "
query1 = query1 + "(artist text, \
                    song text, \
                    length float, \
                    sessionId int, \
                    itemInSession int, \
                    PRIMARY KEY (sessionId, itemInSession));"

In [9]:
try:
    session.execute(query1)
except Exception as e:
    print(e)

In [10]:
file = 'event_datafile_new_Darien.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
    # Assign the INSERT statements into the `query` variable
        query = "INSERT INTO session_info (artist, song, length, sessionId, itemInSession)"
        query = query + " VALUES (%s, %s, %s, %s, %s)"
        # Assign which column element should be assigned for each column in the INSERT statement.
        try:
            session.execute(query, (line[0], line[9], float(line[5]), int(line[8]), int(line[3])))
        except Exception as e:
            print(e)

In [11]:
# Add in the SELECT statement to verify the data was entered into the table
testQuery = "SELECT artist, song, length from session_info WHERE sessionId = 338 AND itemInSession =4"
try:
    rows = session.execute(testQuery)
except Exception as e:
    print(e)
for row in rows:
    print("Artist: %s\tSong: %s\tLength: %s" % (row.artist, row.song, row.length))

Artist: Faithless	Song: Music Matters (Mark Knight Dub)	Length: 495.30731201171875

#### Successfully created the table with artist, song title and song's length

Data is distributed evenly by the unique primary key(pair of sessionId & itemInSession)

### 2. Give only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [12]:
# Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
# for userid = 10, sessionid = 182                    
query2 = "CREATE TABLE IF NOT EXISTS user_activity"
query2 = query2 + "(artist text, \
                    song text, \
                    firstName text, \
                    lastName text, \
                    userId int, \
                    sessionId int, \
                    itemInSession int, \
                    PRIMARY KEY (userId, sessionId, itemInSession)) \
                    WITH CLUSTERING ORDER BY (sessionId ASC, itemInSession DESC);"

In [13]:
try:
    session.execute(query2)
except Exception as e:
    print(e)

In [14]:
file = 'event_datafile_new_Darien.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
    # Assign the INSERT statements into the `query` variable
        query = "INSERT INTO user_activity (artist, song, firstName, lastName, userId, sessionId, itemInSession)"
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"
        # Assign which column element should be assigned for each column in the INSERT statement.
        try:
            session.execute(query, (line[0], line[9], line[1], line[4], int(line[10]), int(line[8]), int(line[3])))
        except Exception as e:
            print(e)

In [15]:
# Add in the SELECT statement to verify the data was entered into the table
testQuery = "SELECT firstName, lastName, itemInSession, artist, song from user_activity WHERE userId = 10 AND sessionId = 182"
try:
    rows = session.execute(testQuery)
except Exception as e:
    print(e)
for row in rows:
    print("User: %s %s\tItems in session: %s\tArtist: %s\tSong: %s" % (row.firstname, row.lastname , row.iteminsession, row.artist, row.song))

User: Sylvie Cruz	Items in session: 3	Artist: Lonnie Gordon	Song: Catch You Baby (Steve Pitron & Max Sanna Radio Edit)
User: Sylvie Cruz	Items in session: 2	Artist: Sebastien Tellier	Song: Kilometer
User: Sylvie Cruz	Items in session: 1	Artist: Three Drives	Song: Greece 2000
User: Sylvie Cruz	Items in session: 0	Artist: Down To The Bone	Song: Keep On Keepin' On

#### Successfully created the table with artist, song(sorted by itemInSession), and user name

Data is distributed evenly by the unique primary key(pair of userId & sessionId & itemInSessionn) and ordered by colustering columns(sessionId ASC, itemInSession DESC)

### 3. Give every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [16]:
# Query 3: Give me every user name (first and last) in my music app history who listened to the\
# song 'All Hands Against His Own'                    
query3 = "CREATE TABLE IF NOT EXISTS user_history "
query3 = query3 + "(firstName text, \
                    lastName text, \
                    song text, \
                    userId int, \
                    PRIMARY KEY (song, userId))"

In [17]:
try:
    session.execute(query3)
except Exception as e:
    print(e)

In [18]:
file = 'event_datafile_new_Darien.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
    # Assign the INSERT statements into the `query` variable
        query = "INSERT INTO user_history (firstName, lastName, song, userId)"
        query = query + " VALUES (%s, %s, %s, %s)"
        # Assign which column element should be assigned for each column in the INSERT statement.
        try:
            session.execute(query, (line[1], line[4], line[9], int(line[10])))
        except Exception as e:
            print(e)

In [19]:
# Use the below query  to verify the data was entered into the table correctly
testQuery = "SELECT userId, firstName, lastName from user_history WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(testQuery)
except Exception as e:
    print(e)
for row in rows:
    print("User: (%s) %s %s" % (row.userid, row.firstname, row.lastname))

User: (29) Jacqueline Lynch
User: (80) Tegan Levine
User: (95) Sara Johnson

#### Successfully created the table with every user information in the music app history who listened to the song 'All Hands Against His Own' ordered by user_Id

Data is distributed evenly by the unique primary key(pair of song & userId) and ordered by colustering column(userId)

### Drop the tables before closing out the sessions

In [20]:
drop_query_1 = "DROP TABLE session_info"
drop_query_2 = "DROP TABLE user_activity"
drop_query_3 = "DROP TABLE user_history"

try:
    rows = session.execute(drop_query_1)
except Exception as e:
    print(e)
    
try:
    rows = session.execute(drop_query_2)
except Exception as e:
    print(e)
    
try:
    rows = session.execute(drop_query_3)
except Exception as e:
    print(e)

### Close the session and cluster connectionÂ¶

In [21]:
session.shutdown()
cluster.shutdown()